.imageCheckResult td {
    padding: .3rem 0;
    vertical-align: top;
}

.imageCheckResult__label {
}

.imageCheckResult__icon {
    width: 2rem;
}

.imageCheckResult__icon svg {
    margin: 0 .5rem;
    color: #00a338;
}

.imageCheckResult__icon.error svg {
    color: #ff8700;
}

.imageCheckResult__value {
    font-family: monospace;
    max-width: 120px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    width: 100%;
}

.errorMessage {
    background: #ff8700;
    padding: .3rem .5rem;
    display: inline-block;
    margin: .5rem 0;
    position: relative;
}

.errorMessage::before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: -8px;
    left: .5rem;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ff8700;
}
