.imageCheck {
    position: relative;
    margin-top: 1rem;
}

.imageCheck__results {
    padding: 0 0 1rem 0;
    border-bottom: 1px solid #666;
}

.imageCheck__results table {
    margin-top: .5rem;
    width: 100%;
}

.imageCheck > button {
    position: absolute;
    top: -48px;
    left: 108px; /* Sets the position on the right side of the standard asset buttons */
}
